<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424786176961-84fgonjfv44s5ud961dn81ifhqed5fgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424786176961-84fgonjfv44s5ud961dn81ifhqed5fgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBl_j1OSOyRnuAFWvbYCllk8oDQqxSx96s</string>
	<key>GCM_SENDER_ID</key>
	<string>424786176961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bashayer.final</string>
	<key>PROJECT_ID</key>
	<string>testt-3dbf1</string>
	<key>STORAGE_BUCKET</key>
	<string>testt-3dbf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424786176961:ios:2ee5468f3a997b7b3a5d40</string>
	<key>DATABASE_URL</key>
	<string>https://testt-3dbf1.firebaseio.com</string>
</dict>
</plist>